[submodule "fuel/core"]
  submodulepath = fuel/core
  submoduleurl = git://github.com/fuel/core.git
[submodule "fuel/packages/orm"]
  submodulepath = fuel/packages/orm
  submoduleurl = git://github.com/fuel/orm.git
[submodule "fuel/packages/auth"]
  submodulepath = fuel/packages/auth
  submoduleurl = git://github.com/fuel/auth.git
[submodule "fuel/packages/oil"]
  submodulepath = fuel/packages/oil
  submoduleurl = git://github.com/fuel/oil.git
[submodule "docs"]
  submodulepath = docs
  submoduleurl = git://github.com/fuel/docs.git
[submodule "fuel/packages/parser"]
  submodulepath = fuel/packages/parser
  submoduleurl = git://github.com/fuel/parser.git
[submodule "fuel/packages/email"]
  submodulepath = fuel/packages/email
  submoduleurl = git://github.com/fuel/email.git
[submodule "fuel/app/vendor/Facebook"]
  submodulepath = fuel/app/vendor/Facebook
  submoduleurl = git://github.com/facebook/php-sdk.git
